---
import '../styles/global.css'
import FallbackImage from '../assets/blog-placeholder-1.jpg';

/**
 * Head / SEO base for Astro pages
 * Props:
 *  - title: string
 *  - description: string
 *  - image?: ImageMetadata | string
 *  - publishedAt?: string (ISO)
 *  - author?: string
 *  - type?: 'website' | 'article' (defaults to website)
 *  - robots?: string (defaults to 'index, follow')
 */

interface Props {
	title: string;
	description: string;
	image?: ImageMetadata;
	publishedAt?: Date;
	author?: string;
	type?: string;
	robots?: string;
	imageUrl?: ImageMetadata;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();
const { title, description, image = FallbackImage, imageUrl="#", publishedAt, author = 'arki', type = 'website', robots = 'index, follow' } = Astro.props as Props;

const jsonLd = type === 'article' ? 
	{
		"@context": "https://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": canonicalURL
		},
		"headline": title,
		"image": [imageUrl],
		"datePublished": publishedAt || undefined,
		"author": author ? { "@type": "Person", "name": author } : undefined,
		"description": description
	} :
	{
		"@context": "https://schema.org",
		"@type": "WebPage",
		"url": canonicalURL,
		"name": title,
		"description": description,
		"inLanguage": "en"
	};

const yesi = JSON.stringify(jsonLd)
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="alternate" type="application/rss+xml" title={title} href={new URL('rss.xml', Astro.site)} />
<meta name="generator" content={Astro.generator} />

<!-- Preconnects -->
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link rel="preconnect" href={Astro.site} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/CourierPrime-Bold.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/CourierPrime-Regular.ttf" as="font" type="font/ttf" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image.src, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image.src, Astro.url)} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:author" content="@arkeasz" />

<!-- Structured Data -->
<script is:inline type="application/ld+json" set:html={JSON.stringify(jsonLd)} />